In [1]:
from __future__ import division
import datetime
import matplotlib.pyplot as plt
import numpy as np
import v2gsim 
import utility
from pyomo.opt import SolverFactory
from pyomo.core import Var
from pyomo.core import Param
from operator import itemgetter
import pandas as pd
import os

# Create a project and initialize it with some itineraries
project = v2gsim.model.Project()
project = v2gsim.itinerary.from_excel(project, '../data/NHTS/California.xlsx')
project = v2gsim.itinerary.copy_append(project, nb_of_days_to_add=2)

# This function from the itinerary module return all the vehicles that
# start and end their day at the same location (e.g. home)
project.vehicles = v2gsim.itinerary.get_cycling_itineraries(project)

# Reduce the number of vehicles
project.vehicles = project.vehicles[0:100]

# Create some new charging infrastructures, append those new
# infrastructures to the project list of infrastructures
charging_stations = []
charging_stations.append(
    v2gsim.model.ChargingStation(name='L2', maximum_power=7200, minimum_power=0))
charging_stations.append(
    v2gsim.model.ChargingStation(name='L1_V1G', maximum_power=1400, minimum_power=0, post_simulation=True))
charging_stations.append(
    v2gsim.model.ChargingStation(name='L2_V2G', maximum_power=7200, minimum_power=-7200, post_simulation=True))
project.charging_stations.extend(charging_stations)

#Create a data frame with the new infrastructures mix and
# apply this mix at all the locations
df = pd.DataFrame(index=['L2', 'L1_V1G', 'L2_V2G'],
                      data={'charging_station': charging_stations,
                            'probability': [0.0, 0.4, 0.6]})
for location in project.locations:
    if location.category in ['Work', 'Home']:
        location.available_charging_station = df.copy()

# Initiate SOC and charging infrastructures
v2gsim.core.initialize_SOC(project, nb_iteration=2)

# Assign a basic result function to save power demand
for vehicle in project.vehicles:
    vehicle.result_function = v2gsim.post_simulation.netload_optimization.save_vehicle_state_for_optimization


# Launch the simulation
v2gsim.core.run(project, date_from=project.date + datetime.timedelta(days=1),
                date_to=project.date + datetime.timedelta(days=2),
                reset_charging_station=False)


# Look at the results
total_power_demand = v2gsim.post_simulation.result.total_power_demand(project)

# Optimization
myopti = v2gsim.post_simulation.netload_optimization.CentralOptimization(project, 10,
                                                                         project.date + datetime.timedelta(days=1),
                                                                         project.date + datetime.timedelta(days=2),
                                                                         minimum_SOC=0.1, maximum_SOC=0.95)

/Users/meiyewang/opt/anaconda3/envs/py27/lib/python2.7/site-packages/pandas/util/_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)
/Users/meiyewang/opt/anaconda3/envs/py27/lib/python2.7/site-packages/v2gsim/core.py:194: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  axis=0)
core.initialize_SOC: 100%|####################################################|
core.run:  15%|#########                                                      |       mean  mean_rate       std  std_rate
0  0.950000   0.000000  0.000000  0.000000
1  0.926814   0.023186  0.110897 -0.110897
2  0.926647   0.000167  0.110849  0.000049

core.run: 100%|###############################################################|core.run: 100%|###############################################################|

In [3]:
import numpy as np
import v2gsim 
import utility
from pyomo.opt import SolverFactory
from pyomo.core import Var
from pyomo.core import Param
from operator import itemgetter
import pandas as pd
import os

myresult=pd.read_csv('../data/vehicle/VehiclesCap_iteration1.csv',header=0)
N = 6# from 10mins to 1 hour
myresult=myresult.groupby(myresult.index // N).sum()/6
myresult=myresult.rename(columns={'EnergyDemand':'netload','EnergyGeneration':'gen_capacity_veh','Regup':'regup_capacity_veh','Regdown':'regdown_capacity_veh'})
myresult=pd.concat([myresult,myresult],axis=0)
myresult.index=range(myresult.shape[0])
df_veh_cap=myresult[['gen_capacity_veh'	,'regup_capacity_veh',	'regdown_capacity_veh']]

df_load = pd.read_csv('../data/netload/20200801CAISO.csv',header=0)[:48]
print(df_load)
df_load['netload']=myresult['netload']+df_load['netload']
print(df_veh_cap)

date_time  netload
0   8/1/20 00:00  26938.0
1   8/1/20 01:00  25315.0
2   8/1/20 02:00  24354.0
3   8/1/20 03:00  23649.0
4   8/1/20 04:00  23324.0
5   8/1/20 05:00  23283.0
6   8/1/20 06:00  23272.0
7   8/1/20 07:00  23928.0
8   8/1/20 08:00  24504.0
9   8/1/20 09:00  25297.0
10  8/1/20 10:00  26265.0
11  8/1/20 11:00  27735.0
12  8/1/20 12:00  29391.0
13  8/1/20 13:00  31113.0
14  8/1/20 14:00  32720.0
15  8/1/20 15:00  34347.0
16  8/1/20 16:00  35803.0
17  8/1/20 17:00  37004.0
18  8/1/20 18:00  37145.0
19  8/1/20 19:00  36088.0
20  8/1/20 20:00  34735.0
21  8/1/20 21:00  32750.0
22  8/1/20 22:00  30083.0
23  8/1/20 23:00  27591.0
24  8/2/20 00:00  25614.0
25  8/2/20 01:00  24108.0
26  8/2/20 02:00  22996.0
27  8/2/20 03:00  22391.0
28  8/2/20 04:00  22074.0
29  8/2/20 05:00  21908.0
30  8/2/20 06:00  21676.0
31  8/2/20 07:00  21980.0
32  8/2/20 08:00  22366.0
33  8/2/20 09:00  23029.0
34  8/2/20 10:00  24042.0
35  8/2/20 11:00  25653.0
36  8/2/20 12:00  27439.0
37  8/2/20 13:00  29273.0
38  8/2/20 14:00  31204.0
39  8/2/20 15:00  32940.0
40  8/2/20 16:00  34538.0
41  8/2/20 17:00  35832.0
42  8/2/20 18:00  35969.0
43  8/2/20 19:00  34868.0
44  8/2/20 20:00  33570.0
45  8/2/20 21:00  31619.0
46  8/2/20 22:00  29042.0
47  8/2/20 23:00  26647.0
    gen_capacity_veh  regup_capacity_veh  regdown_capacity_veh
0                0.0       135166.666667         300833.333333
1                0.0       180666.666667         255333.333333
2                0.0       204466.666667         231533.333333
3                0.0       229333.333333         206666.666667
4                0.0       172766.666667         261833.333333
5                0.0       184606.666667         237266.666667
6                0.0       207080.000000         198300.000000
7                0.0       185326.666667         193080.000000
8                0.0       174060.000000         204853.333333
9                0.0       172133.333333         200946.666667
10               0.0       170266.666667         200933.333333
11               0.0       192093.333333         172726.666667
12               0.0       184340.000000         185953.333333
13               0.0       190320.000000         186357.361663
14               0.0       251220.000000         100800.000000
15               0.0       259746.666667          78320.000000
16               0.0       244306.666667          91166.666667
17               0.0       190013.333333         148366.666667
18               0.0       223020.000000         148566.666667
19               0.0       211360.000000         175773.333333
20               0.0       203566.666667         182520.000000
21               0.0       214746.666667         190373.333333
22               0.0       339646.666667          87033.333333
23               0.0       394033.333333          41966.666667
24               0.0       135166.666667         300833.333333
25               0.0       180666.666667         255333.333333
26               0.0       204466.666667         231533.333333
27               0.0       229333.333333         206666.666667
28               0.0       172766.666667         261833.333333
29               0.0       184606.666667         237266.666667
30               0.0       207080.000000         198300.000000
31               0.0       185326.666667         193080.000000
32               0.0       174060.000000         204853.333333
33               0.0       172133.333333         200946.666667
34               0.0       170266.666667         200933.333333
35               0.0       192093.333333         172726.666667
36               0.0       184340.000000         185953.333333
37               0.0       190320.000000         186357.361663
38               0.0       251220.000000         100800.000000
39               0.0       259746.666667          78320.000000
40               0.0       244306.666667          91166.666667
41               0.0       190013.333333         148366.666667
42               0.0       223020.000000         148566.666667
43               0.0       211360.000000         175773.333333
44               0.0       203566.666667         182520.000000
45               0.0       214746.666667         190373.333333
46               0.0       339646.666667          87033.333333
47               0.0       394033.333333          41966.666667

In [10]:
import pandas as pd
import datetime 
data_name = 'iteration1_correct'
# # Load the load data
load = pd.read_csv('../data/netload/20200801CAISO.csv',header=0)
print(load[:25].shape)
#CAISO1819: netload in the unit of MW
startday = datetime.datetime(2020, 8, 1)#iterate through 1 day per time

load['date_time'] = [datetime.datetime.strptime(x,"%m/%d/%y %H:%M") for x in load['date_time']]
load=load.set_index(load['date_time'])
load=load.drop(columns='date_time')

# ####################################### add the component of loop around day
load = pd.DataFrame(load[startday: startday +datetime.timedelta(days=1)]['netload'])

#iteration1
pr=pd.read_csv('../data/price/price'+data_name+'.csv',header=0)
print(load[:25].shape)
print(pr[:25].shape)

# pr=pr[:25].set_index(load[:25].index)

(25, 2)
(25, 1)
(24, 4)

In [7]:
import pandas as pd
import datetime 
data_name = 'iteration1_correct'
mwh_pd=pd.read_csv('../data/generator/GeneratorResult'+data_name+'.csv')
mwh_pd_gr=mwh_pd.groupby(mwh_pd['Hour'])['Generation','Reg Up','Reg Down'].sum()


myresult=pd.read_csv('../data/vehicle/VehiclesCap_iteration1.csv',header=0)
N = 6# from 10mins to 1 hour
myresult=myresult.groupby(myresult.index // N).sum()/6
myresult=myresult.rename(columns={'EnergyDemand':'netload','EnergyGeneration':'gen_capacity_veh','Regup':'regup_capacity_veh','Regdown':'regdown_capacity_veh'})

df_veh_cap=myresult[['gen_capacity_veh'	,'regup_capacity_veh',	'regdown_capacity_veh']]
df_load = pd.read_csv('../data/netload/20200801CAISO.csv',header=0)[:26]
mwh_pd_gr['load']=myresult['netload']+df_load['netload']
mwh_pd_gr['Generation/Load']=mwh_pd_gr['Generation']/mwh_pd_gr['load']
mwh_pd_gr['Regup/Load']=mwh_pd_gr['Reg Up']/mwh_pd_gr['load']
mwh_pd_gr['RegDown/Load']=mwh_pd_gr['Reg Down']/mwh_pd_gr['load']
mwh_pd_gr

,Generation,Reg Up,Reg Down,load,Generation/Load,Regup/Load,RegDown/Load
Hour,,,,,,,
1,304804.149333,1724.032,1939.536000,25315.0,12.040456,0.068103,0.076616
2,181626.226667,1620.160,255333.333333,24354.0,7.457758,0.066525,10.484246
3,235041.661333,1558.656,1753.488000,23649.0,9.938757,0.065908,0.074146
4,230138.653333,1513.536,206666.666667,23324.0,9.867032,0.064892,8.860687
5,265096.661333,1492.736,1679.328000,23283.0,11.385846,0.064113,0.072127
6,185349.266667,1490.112,237266.666667,23272.0,7.964475,0.064030,10.195371
7,201569.954000,1489.408,1675.584000,23928.0,8.424020,0.062245,0.070026
8,186104.236667,1531.392,193080.000000,24504.0,7.594851,0.062496,7.879530
9,208279.521333,1568.256,1764.288000,25297.0,8.233368,0.061994,0.069743
10,172939.333333,1619.008,200946.666667,26265.0,6.584403,0.061641,7.650739
11,204605.113333,1680.960,1891.080000,27735.0,7.377145,0.060608,0.068184
12,192975.633333,1775.040,172726.666667,29391.0,6.565807,0.060394,5.876856
13,190063.285333,1881.024,2116.152000,31113.0,6.108806,0.060458,0.068015
14,191308.800000,1991.232,186357.361663,32720.0,5.846846,0.060857,5.695518
15,105373.040000,2094.080,2355.840000,34347.0,3.067896,0.060968,0.068589
16,260837.866667,2198.208,78320.000000,35803.0,7.285363,0.061397,2.187526
17,96186.052667,2291.392,2577.816000,37004.0,2.599342,0.061923,0.069663
18,191189.133333,2368.256,148366.666667,37145.0,5.147103,0.063757,3.994257
19,153757.106667,2377.280,2674.440000,36088.0,4.260616,0.065875,0.074109
20,212504.900000,2309.632,175773.333333,34735.0,6.117890,0.066493,5.060410
21,187371.920000,2223.040,2500.920000,32750.0,5.721280,0.067879,0.076364
22,215783.866667,2096.000,190373.333333,30083.0,7.172950,0.069674,6.328270
23,91233.109333,1925.312,2165.976000,27591.0,3.306626,0.069780,0.078503
24,394904.833333,1765.824,41966.666667,NaN,NaN,NaN,NaN
25,305157.019553,1639.296,1844.208000,NaN,NaN,NaN,NaN

In [12]:
mwh_pd_gr_s=mwh_pd[mwh_pd['Generator']=='solar']

mwh_pd_gr_s

      Generator  Day  Hour  Generation  Reg Up  Reg Down
797       solar    1     1        0.00     0.0       0.0
1597      solar    1     2        0.00     0.0       0.0
2397      solar    1     3        0.00     0.0       0.0
3197      solar    1     4        0.00     0.0       0.0
3997      solar    1     5        0.00     0.0       0.0
4797      solar    1     6        0.00     0.0       0.0
5597      solar    1     7       15.37     0.0       0.0
6397      solar    1     8       15.37     0.0       0.0
7197      solar    1     9        0.00     0.0       0.0
7997      solar    1    10        0.00     0.0       0.0
8797      solar    1    11        0.00     0.0       0.0
9597      solar    1    12        0.00     0.0       0.0
10397     solar    1    13        0.00     0.0       0.0
11197     solar    1    14        0.00     0.0       0.0
11997     solar    1    15        0.00     0.0       0.0
12797     solar    1    16        0.00     0.0       0.0
13597     solar    1    17       15.37     0.0       0.0
14397     solar    1    18        0.00     0.0       0.0
15197     solar    1    19        0.00     0.0       0.0
15997     solar    1    20        0.00     0.0       0.0
16797     solar    1    21        0.00     0.0       0.0
17597     solar    1    22        0.00     0.0       0.0
18397     solar    1    23        0.00     0.0       0.0
19197     solar    1    24        0.00     0.0       0.0
19997     solar    1    25        0.00     0.0       0.0

In [13]:

mwh_pd_gr_w=mwh_pd[mwh_pd['Generator']=='wind']

mwh_pd_gr_w

      Generator  Day  Hour  Generation  Reg Up  Reg Down
799        wind    1     1   200.48000     0.0       0.0
1599       wind    1     2   150.36000     0.0       0.0
2399       wind    1     3   100.24000     0.0       0.0
3199       wind    1     4    50.12000     0.0       0.0
3999       wind    1     5     0.00000     0.0       0.0
4799       wind    1     6     0.00000     0.0       0.0
5599       wind    1     7     0.00000     0.0       0.0
6399       wind    1     8     0.00000     0.0       0.0
7199       wind    1     9     0.00000     0.0       0.0
7999       wind    1    10     0.00000     0.0       0.0
8799       wind    1    11     0.00000     0.0       0.0
9599       wind    1    12     0.00000     0.0       0.0
10399      wind    1    13     0.00000     0.0       0.0
11199      wind    1    14     0.00000     0.0       0.0
11999      wind    1    15     0.00000     0.0       0.0
12799      wind    1    16     0.00000     0.0       0.0
13599      wind    1    17     0.00000     0.0       0.0
14399      wind    1    18     0.00000     0.0       0.0
15199      wind    1    19     0.00000     0.0       0.0
15999      wind    1    20     0.00000     0.0       0.0
16799      wind    1    21     0.00000     0.0       0.0
17599      wind    1    22     0.00000     0.0       0.0
18399      wind    1    23     0.00000     0.0       0.0
19199      wind    1    24     0.00000     0.0       0.0
19999      wind    1    25   750.57822     0.0       0.0

In [18]:
myresult=pd.read_csv('../data/vehicle/VehiclesCap_iteration1.csv',header=0)
N = 6# from 10mins to 1 hour
myresult=myresult.groupby(myresult.index // N).sum()/6
myresult=myresult.rename(columns={'EnergyDemand':'netload','EnergyGeneration':'gen_capacity_veh','Regup':'regup_capacity_veh','Regdown':'regdown_capacity_veh'})
myresult=pd.concat([myresult,myresult],axis=0)
myresult.index=range(myresult.shape[0])
df_veh_cap=myresult[['gen_capacity_veh'	,'regup_capacity_veh',	'regdown_capacity_veh']]
print(df_veh_cap)
with open(''+str('vehicle_test')+'.dat', 'w') as f:
    f.write('param:' + '\t')
    for c in df_veh_cap.columns:
        if c != 'name':
            f.write(c + '\t')
    f.write(':=\n\n')
    for i in range(0,len(df_veh_cap)):    
        for c in df_veh_cap.columns: 
            if c=='gen_capacity_veh':
                f.write(str(i+1) + '\t' + str(df_veh_cap.loc[i,c]) + '\t') 
            else:
                f.write(str(df_veh_cap.loc[i,c]) + '\t')            
        f.write('\n')
    f.write(';\n\n')

gen_capacity_veh  regup_capacity_veh  regdown_capacity_veh
0                0.0       135166.666667         300833.333333
1                0.0       180666.666667         255333.333333
2                0.0       204466.666667         231533.333333
3                0.0       229333.333333         206666.666667
4                0.0       172766.666667         261833.333333
5                0.0       184606.666667         237266.666667
6                0.0       207080.000000         198300.000000
7                0.0       185326.666667         193080.000000
8                0.0       174060.000000         204853.333333
9                0.0       172133.333333         200946.666667
10               0.0       170266.666667         200933.333333
11               0.0       192093.333333         172726.666667
12               0.0       184340.000000         185953.333333
13               0.0       190320.000000         186357.361663
14               0.0       251220.000000         100800.000000
15               0.0       259746.666667          78320.000000
16               0.0       244306.666667          91166.666667
17               0.0       190013.333333         148366.666667
18               0.0       223020.000000         148566.666667
19               0.0       211360.000000         175773.333333
20               0.0       203566.666667         182520.000000
21               0.0       214746.666667         190373.333333
22               0.0       339646.666667          87033.333333
23               0.0       394033.333333          41966.666667
24               0.0       135166.666667         300833.333333
25               0.0       180666.666667         255333.333333
26               0.0       204466.666667         231533.333333
27               0.0       229333.333333         206666.666667
28               0.0       172766.666667         261833.333333
29               0.0       184606.666667         237266.666667
30               0.0       207080.000000         198300.000000
31               0.0       185326.666667         193080.000000
32               0.0       174060.000000         204853.333333
33               0.0       172133.333333         200946.666667
34               0.0       170266.666667         200933.333333
35               0.0       192093.333333         172726.666667
36               0.0       184340.000000         185953.333333
37               0.0       190320.000000         186357.361663
38               0.0       251220.000000         100800.000000
39               0.0       259746.666667          78320.000000
40               0.0       244306.666667          91166.666667
41               0.0       190013.333333         148366.666667
42               0.0       223020.000000         148566.666667
43               0.0       211360.000000         175773.333333
44               0.0       203566.666667         182520.000000
45               0.0       214746.666667         190373.333333
46               0.0       339646.666667          87033.333333
47               0.0       394033.333333          41966.666667

In [34]:
import pandas as pd 
myresult=pd.read_csv('../data/vehicle/VehiclesCap_iteration1.csv',header=0)
N = 6
myresult=myresult.groupby(myresult.index // N).sum()/6
myresult=myresult.rename(columns={'EnergyDemand':'netload','EnergyGeneration':'gen_capacity_veh','Regup':'regup_capacity_veh','Regdown':'regdown_capacity_veh'})

df_load = pd.read_csv('../data/netload/CAISO1819.csv',header=0)[:24]
df_load['netload']=myresult['netload']+df_load['netload']

myresult

    netload  gen_capacity_veh  regup_capacity_veh  regdown_capacity_veh
0       0.0               0.0       135166.666667         300833.333333
1       0.0               0.0       180666.666667         255333.333333
2       0.0               0.0       204466.666667         231533.333333
3       0.0               0.0       229333.333333         206666.666667
4       0.0               0.0       172766.666667         261833.333333
5       0.0               0.0       184606.666667         237266.666667
6       0.0               0.0       207080.000000         198300.000000
7       0.0               0.0       185326.666667         193080.000000
8       0.0               0.0       174060.000000         204853.333333
9       0.0               0.0       172133.333333         200946.666667
10      0.0               0.0       170266.666667         200933.333333
11      0.0               0.0       192093.333333         172726.666667
12      0.0               0.0       184340.000000         185953.333333
13      0.0               0.0       190320.000000         186357.361663
14      0.0               0.0       251220.000000         100800.000000
15      0.0               0.0       259746.666667          78320.000000
16      0.0               0.0       244306.666667          91166.666667
17      0.0               0.0       190013.333333         148366.666667
18      0.0               0.0       223020.000000         148566.666667
19      0.0               0.0       211360.000000         175773.333333
20      0.0               0.0       203566.666667         182520.000000
21      0.0               0.0       214746.666667         190373.333333
22      0.0               0.0       339646.666667          87033.333333
23      0.0               0.0       394033.333333          41966.666667

In [32]:
myresult[['gen_capacity_veh'	,'regup_capacity_veh',	'regdown_capacity_veh']]

     gen_capacity_veh  regup_capacity_veh  regdown_capacity_veh
0                 0.0             88400.0              347600.0
1                 0.0            252000.0              184000.0
2                 0.0            236400.0              199600.0
3                 0.0             35200.0              400800.0
4                 0.0             46000.0              390000.0
5                 0.0            153000.0              283000.0
6                 0.0            154400.0              281600.0
7                 0.0            234000.0              202000.0
8                 0.0            239800.0              196200.0
9                 0.0            220000.0              216000.0
10                0.0             94600.0              341400.0
11                0.0            141200.0              294800.0
12                0.0            245000.0              191000.0
13                0.0            159600.0              276400.0
14                0.0            161000.0              275000.0
15                0.0            186000.0              250000.0
16                0.0            270400.0              165600.0
17                0.0            204800.0              231200.0
18                0.0            250600.0              185400.0
19                0.0            224600.0              211400.0
20                0.0            251000.0              185000.0
21                0.0            256200.0              179800.0
22                0.0            188800.0              247200.0
23                0.0            204800.0              231200.0
24                0.0            185000.0              249600.0
25                0.0            179400.0              255200.0
26                0.0            114800.0              319800.0
27                0.0            212800.0              221800.0
28                0.0            175600.0              259000.0
29                0.0            169000.0              265600.0
..                ...                 ...                   ...
114               0.0            262800.0              103200.0
115               0.0            191160.0              182880.0
116               0.0            203000.0              188480.0
117               0.0            207200.0              189440.0
118               0.0            190200.0              207840.0
119               0.0            213800.0              182800.0
120               0.0            198120.0              191840.0
121               0.0            218920.0              165840.0
122               0.0            166120.0              218640.0
123               0.0            200960.0              183800.0
124               0.0            229760.0              156400.0
125               0.0            207520.0              178600.0
126               0.0            198080.0              193200.0
127               0.0            233480.0              157840.0
128               0.0            180720.0              217200.0
129               0.0            217880.0              191800.0
130               0.0            208880.0              207400.0
131               0.0            249440.0              174800.0
132               0.0            294280.0              131400.0
133               0.0            279680.0              146000.0
134               0.0            352640.0               71600.0
135               0.0            355040.0               69200.0
136               0.0            364440.0               59800.0
137               0.0            391800.0               44200.0
138               0.0            373400.0               62600.0
139               0.0            395000.0               41000.0
140               0.0            374800.0               61200.0
141               0.0            394600.0               41400.0
142               0.0            399800.0               36200.0
143               0.0            426600.0                9400.0

[144 rows x 3 columns]

In [19]:
# # Load the load data
load=pd.read_csv('../data/netload/CAISO1819.csv')
#CAISO1819: netload in the unit of W
startday = datetime.datetime(2018, 7, 2)#iterate through 1 day per time

load['date_time'] = [datetime.datetime.strptime(x,"%m/%d/%Y %H:%M") for x in load['date_time']]
load=load.set_index(load['date_time'])
load=load.drop(columns='date_time')

# ####################################### add the component of loop around day
load = pd.DataFrame(load[startday: startday +datetime.timedelta(days=1)]['netload'])


price=pd.read_csv("../data/price/price.csv")
price=price[:24].set_index(load[:24].index)

In [25]:

pr_e.update(temp_price.to_dict()['pr_e'])

NameError: name 'pr_e' is not defined

In [8]:
load=load.resample(str(10) + 'T').first()
load=load.fillna(method='ffill')
load

                     netload
date_time
2018-07-02 00:00:00  31187.0
2018-07-02 00:10:00  31187.0
2018-07-02 00:20:00  31187.0
2018-07-02 00:30:00  31187.0
2018-07-02 00:40:00  31187.0
2018-07-02 00:50:00  31187.0
2018-07-02 01:00:00  32303.0
2018-07-02 01:10:00  32303.0
2018-07-02 01:20:00  32303.0
2018-07-02 01:30:00  32303.0
2018-07-02 01:40:00  32303.0
2018-07-02 01:50:00  32303.0
2018-07-02 02:00:00  32870.0
2018-07-02 02:10:00  32870.0
2018-07-02 02:20:00  32870.0
2018-07-02 02:30:00  32870.0
2018-07-02 02:40:00  32870.0
2018-07-02 02:50:00  32870.0
2018-07-02 03:00:00  32478.0
2018-07-02 03:10:00  32478.0
2018-07-02 03:20:00  32478.0
2018-07-02 03:30:00  32478.0
2018-07-02 03:40:00  32478.0
2018-07-02 03:50:00  32478.0
2018-07-02 04:00:00  31983.0
2018-07-02 04:10:00  31983.0
2018-07-02 04:20:00  31983.0
2018-07-02 04:30:00  31983.0
2018-07-02 04:40:00  31983.0
2018-07-02 04:50:00  31983.0
...                      ...
2018-07-02 19:10:00  28927.0
2018-07-02 19:20:00  28927.0
2018-07-02 19:30:00  28927.0
2018-07-02 19:40:00  28927.0
2018-07-02 19:50:00  28927.0
2018-07-02 20:00:00  29620.0
2018-07-02 20:10:00  29620.0
2018-07-02 20:20:00  29620.0
2018-07-02 20:30:00  29620.0
2018-07-02 20:40:00  29620.0
2018-07-02 20:50:00  29620.0
2018-07-02 21:00:00  30663.0
2018-07-02 21:10:00  30663.0
2018-07-02 21:20:00  30663.0
2018-07-02 21:30:00  30663.0
2018-07-02 21:40:00  30663.0
2018-07-02 21:50:00  30663.0
2018-07-02 22:00:00  31744.0
2018-07-02 22:10:00  31744.0
2018-07-02 22:20:00  31744.0
2018-07-02 22:30:00  31744.0
2018-07-02 22:40:00  31744.0
2018-07-02 22:50:00  31744.0
2018-07-02 23:00:00  32994.0
2018-07-02 23:10:00  32994.0
2018-07-02 23:20:00  32994.0
2018-07-02 23:30:00  32994.0
2018-07-02 23:40:00  32994.0
2018-07-02 23:50:00  32994.0
2018-07-03 00:00:00  34000.0

[145 rows x 1 columns]

TypeError: Index does not support mutable operations

In [17]:
# # Load the load data
load=pd.read_csv('../data/netload/CAISO1819.csv')
startday = datetime.datetime(2018, 7, 2)#iterate through 1 day per time

load['date_time'] = [datetime.datetime.strptime(x,"%m/%d/%Y %H:%M") for x in load['date_time']]
load=load.set_index(load['date_time'])
load=load.drop(columns='date_time')

# ####################################### add the component of loop around day
load = pd.DataFrame(load[startday: startday +datetime.timedelta(days=1)]['demand (MW)'])

# load = pd.DataFrame(load[startday]['demand (MW)'])
# load

                     demand (MW)
date_time
2018-07-02 00:00:00        31187
2018-07-02 01:00:00        32303
2018-07-02 02:00:00        32870
2018-07-02 03:00:00        32478
2018-07-02 04:00:00        31983
2018-07-02 05:00:00        30949
2018-07-02 06:00:00        28655
2018-07-02 07:00:00        26236
2018-07-02 08:00:00        24304
2018-07-02 09:00:00        23037
2018-07-02 10:00:00        22252
2018-07-02 11:00:00        21928
2018-07-02 12:00:00        22281
2018-07-02 13:00:00        23446
2018-07-02 14:00:00        24710
2018-07-02 15:00:00        25965
2018-07-02 16:00:00        26710
2018-07-02 17:00:00        27349
2018-07-02 18:00:00        28164
2018-07-02 19:00:00        28927
2018-07-02 20:00:00        29620
2018-07-02 21:00:00        30663
2018-07-02 22:00:00        31744
2018-07-02 23:00:00        32994
2018-07-03 00:00:00        34000

In [16]:
price_pd=getprice(instance,cost_pd)

myresult = myopti.solve(project, load * 1000000,1500000, price=price_pd,
                    peak_shaving='economic', SOC_margin=0.05)

# Get the result in the right format
temp_vehicle = pd.DataFrame(
    (total_power_demand['total'] - myresult['vehicle_before'] + myresult['vehicle_after']) *
    (1500000 / len(project.vehicles)) / (1000 * 1000))  # Scale up and W to MW
temp_vehicle = temp_vehicle.rename(columns={0: 'vehicle'})
temp_vehicle['index'] = range(0, len(temp_vehicle))
temp_vehicle = temp_vehicle.set_index(['index'], drop=True)

temp_load = load.copy()
temp_load = temp_load.resample('60S')
temp_load = temp_load.fillna (method='ffill').fillna(method='bfill')
temp_load = temp_load.head(len(temp_vehicle))
tempIndex = temp_load.index
temp_load['index'] = range(0, len(temp_vehicle))
temp_load = temp_load.set_index(['index'], drop=True)

temp_result = pd.DataFrame(temp_load['demand (MW)'] + temp_vehicle['vehicle'])
temp_result = temp_result.rename(columns={0: 'demand (MW)'})
temp_result = temp_result.set_index(tempIndex)
temp_load = temp_load.set_index(tempIndex)
temp_vehicle = temp_vehicle.set_index(tempIndex)

temp_vehicle_demand = pd.DataFrame(
    (myresult['vehicle_after_demand']) *    (1500000 / len(project.vehicles)) / (1000 * 1000))  # Scale up and W to MW
temp_vehicle_demand = temp_vehicle_demand.set_index(tempIndex)

temp_vehicle_generation = pd.DataFrame(
    (-myresult['vehicle_after_generation']) *    (1500000 / len(project.vehicles)) / (1000 * 1000))  # Scale up and W to MW
temp_vehicle_generation = temp_vehicle_generation.set_index(tempIndex)

temp_vehicle_regdown = pd.DataFrame(
    (myresult['vehicle_after_regdown']) *    (1500000 / len(project.vehicles)) / (1000 * 1000))  # Scale up and W to MW
temp_vehicle_demand = temp_vehicle_demand.set_index(tempIndex)

temp_vehicle_regup = pd.DataFrame(
    (-myresult['vehicle_after_regup']) *    (1500000 / len(project.vehicles)) / (1000 * 1000))  # Scale up and W to MW
temp_vehicle_generation = temp_vehicle_generation.set_index(tempIndex)


plt.plot(temp_load['demand (MW)'], label='load')
plt.plot(temp_result['demand (MW)'], label='load + vehicles')
plt.ylabel('Power (MW)')
plt.legend()
plt.show()

NameError: name 'getprice' is not defined