In [84]:
import pandas as pd
import numpy as np

# mwh_pd=pd.read_csv('../data/generator/GeneratorResult.csv',index=False)

df_gen_param = pd.read_csv('../data/generator/Generator.csv',header=0)
df_solar_cons=pd.read_csv('../data/generator/SolarConstraint.csv',header=0).rename(columns={'opcost_s':'opcost','var_om_s':'var_om','regcost_s':'regcost'})
df_wind_cons=pd.read_csv('../data/generator/WindConstraint.csv',header=0).rename(columns={'opcost_w':'opcost','var_om_w':'var_om','regcost_w':'regcost'})
cost_pd=pd.concat([df_gen_param,df_solar_cons],axis=0)
cost_pd=pd.concat([cost_pd,df_wind_cons],axis=0)
cost_pd=cost_pd[['name','opcost','var_om','regcost']]
cost_pd=cost_pd.append(pd.DataFrame([['vehicle',10,10,10]], columns=['name','opcost','var_om','regcost']))
cost_pd["cost_e"]=cost_pd["opcost"]+cost_pd["var_om"]
cost_pd["cost_fre_d"]=cost_pd["regcost"]
cost_pd["cost_fre_u"]=cost_pd["regcost"]
cost_pd=cost_pd[['cost_e','cost_fre_d','cost_fre_u']].fillna(9999)
cost_pd.index=range(cost_pd.shape[0])
cost_pd

/Users/meiyewang/opt/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:9: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  if __name__ == '__main__':
/Users/meiyewang/opt/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:10: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  # Remove the CWD from sys.path while we load stuff.

         cost_e   cost_fre_d   cost_fre_u
0     34.526317     3.092632     3.092632
1     34.547589     3.094759     3.094759
2      0.041104  9999.000000  9999.000000
3      0.012510  9999.000000  9999.000000
4      0.033753  9999.000000  9999.000000
5      0.024846  9999.000000  9999.000000
6     35.076102     3.147610     3.147610
7     35.119860     3.151986     3.151986
8      0.010268  9999.000000  9999.000000
9    276.916279  9999.000000  9999.000000
10    35.705414     3.210541     3.210541
11    35.677775     3.207778     3.207778
12    35.676910     3.207691     3.207691
13    35.689913     3.208991     3.208991
14    31.987642     2.838764     2.838764
15    31.977673     2.837767     2.837767
16     0.004044  9999.000000  9999.000000
17     0.046085  9999.000000  9999.000000
18     0.009841  9999.000000  9999.000000
19     0.027812  9999.000000  9999.000000
20    34.999695     3.139970     3.139970
21    34.982795     3.138280     3.138280
22    34.672038     3.107204     3.107204
23    34.692437     3.109244     3.109244
24    34.695072     3.109507     3.109507
25    39.745719     3.614572     3.614572
26    39.775341     3.617534     3.617534
27     0.026803  9999.000000  9999.000000
28     0.032194     0.003219     0.003219
29     0.034293     0.003429     0.003429
..          ...          ...          ...
770   68.753401  9999.000000  9999.000000
771   67.139960  9999.000000  9999.000000
772   67.142803  9999.000000  9999.000000
773   72.458487  9999.000000  9999.000000
774   68.863158  9999.000000  9999.000000
775   70.017648  9999.000000  9999.000000
776   66.626276  9999.000000  9999.000000
777   66.212591  9999.000000  9999.000000
778   65.959143  9999.000000  9999.000000
779   65.960974  9999.000000  9999.000000
780   66.199526  9999.000000  9999.000000
781   65.895101  9999.000000  9999.000000
782   67.791310  9999.000000  9999.000000
783   67.112500  9999.000000  9999.000000
784  114.906468  9999.000000  9999.000000
785   10.566100  9999.000000  9999.000000
786   10.520002  9999.000000  9999.000000
787   10.549119  9999.000000  9999.000000
788   10.539049  9999.000000  9999.000000
789   10.563635  9999.000000  9999.000000
790   10.528497  9999.000000  9999.000000
791   10.560056  9999.000000  9999.000000
792   10.552054  9999.000000  9999.000000
793   10.522487  9999.000000  9999.000000
794   10.521133  9999.000000  9999.000000
795    8.963197  9999.000000  9999.000000
796    8.948072  9999.000000  9999.000000
797    0.025455  9999.000000  9999.000000
798    0.025674  9999.000000  9999.000000
799   20.000000    10.000000    10.000000

[800 rows x 3 columns]

In [7]:
import pandas as pd
import datetime

load = pd.read_csv('../data/netload/20200801CAISO.csv',header=0)

#CAISO1819: netload in the unit of MW
startday = datetime.datetime(2020, 8, 1)#iterate through 1 day per time

load['date_time'] = [datetime.datetime.strptime(x,"%m/%d/%y %H:%M") for x in load['date_time']]
load=load.set_index(load['date_time'])
load=load.drop(columns='date_time')

# ####################################### add the component of loop around day
load = pd.DataFrame(load[startday: startday +datetime.timedelta(days=1)]['netload'])

data_name2='iteration1_version2'
pr=pd.read_csv('../data/price/price'+data_name2+'.csv',header=0)
pr=pr[:25].set_index(load[:25].index)
print(pr)

Hour        pr_e  pr_fre_u  pr_fre_d
date_time
2020-08-01 00:00:00     0  120.000000     120.0     120.0
2020-08-01 01:00:00     1  120.000000     120.0     120.0
2020-08-01 02:00:00     2  120.000000     120.0     120.0
2020-08-01 03:00:00     3   31.986037     120.0     120.0
2020-08-01 04:00:00     4  120.000000     120.0     120.0
2020-08-01 05:00:00     5  120.000000     120.0     120.0
2020-08-01 06:00:00     6   37.656060     120.0     120.0
2020-08-01 07:00:00     7  120.000000     120.0     120.0
2020-08-01 08:00:00     8  120.000000     120.0     120.0
2020-08-01 09:00:00     9  120.000000     120.0     120.0
2020-08-01 10:00:00    10  120.000000     120.0     120.0
2020-08-01 11:00:00    11  120.000000     120.0     120.0
2020-08-01 12:00:00    12   37.656060     120.0     120.0
2020-08-01 13:00:00    13  120.000000     120.0     120.0
2020-08-01 14:00:00    14  120.000000     120.0     120.0
2020-08-01 15:00:00    15  120.000000     120.0     120.0
2020-08-01 16:00:00    16  120.000000     120.0     120.0
2020-08-01 17:00:00    17  120.000000     120.0     120.0
2020-08-01 18:00:00    18  120.000000     120.0     120.0
2020-08-01 19:00:00    19  120.000000     120.0     120.0
2020-08-01 20:00:00    20  120.000000     120.0     120.0
2020-08-01 21:00:00    21  120.000000     120.0     120.0
2020-08-01 22:00:00    22  120.000000     120.0     120.0
2020-08-01 23:00:00    23   30.522300     120.0     120.0
2020-08-02 00:00:00    24  120.000000     120.0     120.0

In [85]:
mwh_pd=pd.read_csv('../data/generator/GeneratorResult.csv')

mwh_pd=mwh_pd.sort_values(by=['Hour','Generator'])
mwh_pd=mwh_pd.reset_index(drop=True)

mwh_pd
# mwh_pd.shape
# cost_pd.shape

          Generator  Day  Hour  Generation  Reg Up  Reg Down
0                 1    1     1      400.96     0.0       0.0
1                 1    1     1        0.00     0.0       0.0
2                 1    1     1        0.00     2.0       0.0
3      10034_G_GEN1    1     1        0.00     0.0       0.0
4      10034_G_GEN2    1     1        0.00     0.0       0.0
5      10052_B_BLR1    1     1        0.00     0.0       0.0
6        10091_G_G2    1     1        0.00     0.0       0.0
7      10091_G_GEN1    1     1        0.00     0.0       0.0
8      10110_G_GEN1    1     1        0.00     0.0       0.0
9      10128_G_GEN1    1     1        0.00     0.0       0.0
10     10128_G_GEN2    1     1        0.00     0.0       0.0
11     10139_G_GEN1    1     1        0.00     0.0       0.0
12     10139_G_GEN2    1     1        0.00     0.0       0.0
13     10144_B_BLR3    1     1        0.00     0.0       0.0
14     10156_G_GEN2    1     1        0.00     0.0       0.0
15     10156_G_GEN3    1     1        0.00     0.0       0.0
16     10156_G_GEN4    1     1        0.00     0.0       0.0
17     10162_G_WWHI    1     1        0.00     0.0       0.0
18     10169_G_GEN1    1     1        0.00     0.0       0.0
19     10169_G_GEN2    1     1        0.00     0.0       0.0
20     10175_G_0799    1     1        0.00     0.0       0.0
21     10175_G_5083    1     1        0.00     0.0       0.0
22     10213_G_GEN1    1     1        0.00     0.0       0.0
23     10213_G_GEN2    1     1        0.00     0.0       0.0
24     10213_G_GEN5    1     1        0.00     0.0       0.0
25     10213_G_GEN6    1     1        0.00     0.0       0.0
26     10213_G_GEN7    1     1        0.00     0.0       0.0
27     10213_G_GEN8    1     1        0.00     0.0       0.0
28     10222_G_SPP1    1     1        0.00     0.0       0.0
29     10253_G_LGEN    1     1        0.00     0.0       0.0
...             ...  ...   ...         ...     ...       ...
57570      7527_G_2    3    72        0.00     0.0       0.0
57571   7527_G_CCCT    3    72        0.00     0.0       0.0
57572   7551_G_CCST    3    72        0.00     0.0       0.0
57573   7551_G_CT1A    3    72        0.00     0.0       0.0
57574   7551_G_CT1B    3    72        0.00     0.0       0.0
57575   7552_G_CCCT    3    72        0.00     0.0       0.0
57576   7552_G_CCST    3    72        0.00     0.0       0.0
57577      7646_G_1    3    72        0.00     0.0       0.0
57578      7646_G_2    3    72        0.00     0.0       0.0
57579      7646_G_3    3    72        0.00     0.0       0.0
57580       776_G_1    3    72        0.00     0.0       0.0
57581      7907_G_1    3    72        0.00     0.0       0.0
57582      7907_G_2    3    72        0.00     0.0       0.0
57583      7907_G_3    3    72        0.00     0.0       0.0
57584      7911_G_1    3    72        0.00     0.0       0.0
57585     7942_G_10    3    72        0.00     0.0       0.0
57586     7942_G_11    3    72        0.00     0.0       0.0
57587     7942_G_12    3    72        0.00     0.0       0.0
57588      7942_G_2    3    72        0.00     0.0       0.0
57589      7942_G_3    3    72        0.00     0.0       0.0
57590      7942_G_4    3    72        0.00     0.0       0.0
57591      7942_G_6    3    72        0.00     0.0       0.0
57592      7942_G_7    3    72        0.00     0.0       0.0
57593      7942_G_8    3    72        0.00     0.0       0.0
57594      839_G_7P    3    72        0.00     0.0       0.0
57595       846_G_1    3    72        0.00     0.0       0.0
57596       846_G_2    3    72        0.00     0.0       0.0
57597       846_G_3    3    72        0.00     0.0       0.0
57598       902_G_1    3    72       10.00    20.0       0.0
57599       905_G_1    3    72        0.00     0.0       0.0

[57600 rows x 6 columns]

In [86]:

Hour=72
price=[]
for i in range(Hour):
    pr_e=[]
    pr_a=[]
    pr_b=[]
    pr_fre_d=[]
    pr_fre_u=[]
    for j in range(cost_pd.shape[0]):  
        pr_e.append((mwh_pd.loc[i*72+j,'Generation']>0).astype(int)*1*cost_pd.loc[j,"cost_e"])
        pr_fre_u.append((mwh_pd.loc[i*72+j,'Reg Up']>0).astype(int)*1*cost_pd.loc[j,"cost_fre_u"])
        pr_fre_d.append((mwh_pd.loc[i*72+j,'Reg Down']>0).astype(int)*1*cost_pd.loc[j,"cost_fre_d"])
    price.append((i,max(pr_e),max(pr_fre_u),max(pr_fre_d)))#
# print(pr_e)
# print(pr_fre_u)
# print(pr_fre_d)

price_pd=pd.DataFrame(price,columns=("Hour",'pr_e','pr_fre_u','pr_fre_d'))
price_pd

    Hour        pr_e  pr_fre_u  pr_fre_d
0      0   83.880057    9999.0    9999.0
1      1  276.916279    9999.0    9999.0
2      2   65.982736    9999.0    9999.0
3      3   75.696922    9999.0    9999.0
4      4   65.980343    9999.0    9999.0
5      5   65.984935    9999.0    9999.0
6      6   59.290272    9999.0    9999.0
7      7  114.906468    9999.0    9999.0
8      8  275.708502    9999.0    9999.0
9      9   85.185988    9999.0    9999.0
10    10   74.936862    9999.0    9999.0
11    11   68.753401    9999.0    9999.0
12    12  276.916279    9999.0    9999.0
13    13   65.980609    9999.0    9999.0
14    14   72.458487    9999.0    9999.0
15    15   65.984557    9999.0    9999.0
16    16   65.984935    9999.0    9999.0
17    17   59.291139    9999.0    9999.0
18    18  231.507326    9999.0    9999.0
19    19  275.708502    9999.0    9999.0
20    20  275.708502    9999.0    9999.0
21    21  214.491818    9999.0    9999.0
22    22   74.924340    9999.0    9999.0
23    23  276.916279    9999.0    9999.0
24    24  276.916279    9999.0    9999.0
25    25  114.906468    9999.0    9999.0
26    26   65.984557    9999.0    9999.0
27    27   65.984557    9999.0    9999.0
28    28   44.239179    9999.0    9999.0
29    29   80.624485    9999.0    9999.0
..   ...         ...       ...       ...
42    42  231.507326    9999.0    9999.0
43    43  231.507326    9999.0    9999.0
44    44   74.936862    9999.0    9999.0
45    45   74.936862    9999.0    9999.0
46    46  275.708502    9999.0    9999.0
47    47   65.982736    9999.0    9999.0
48    48   74.936862    9999.0    9999.0
49    49   65.982736    9999.0    9999.0
50    50   67.013090    9999.0    9999.0
51    51   83.880057    9999.0    9999.0
52    52  231.507326    9999.0    9999.0
53    53   72.458487    9999.0    9999.0
54    54   83.880057    9999.0    9999.0
55    55   65.984935    9999.0    9999.0
56    56  276.916279    9999.0    9999.0
57    57   85.185988    9999.0    9999.0
58    58  276.916279    9999.0    9999.0
59    59   65.984935    9999.0    9999.0
60    60   65.981092    9999.0    9999.0
61    61   73.382109    9999.0    9999.0
62    62  114.906468    9999.0    9999.0
63    63  276.916279    9999.0    9999.0
64    64  231.507326    9999.0    9999.0
65    65  275.708502    9999.0    9999.0
66    66  276.916279    9999.0    9999.0
67    67   74.924340    9999.0    9999.0
68    68  214.491818    9999.0    9999.0
69    69   65.984935    9999.0    9999.0
70    70   74.924340    9999.0    9999.0
71    71   65.980343    9999.0    9999.0

[72 rows x 4 columns]

In [ ]:
import pandas as pd
import numpy as np
df_windsolar_cap=pd.read_csv('../data/generator/SolarCap.csv',header=0).set_index('name')#SolarWindCap
df_windsolar_cap

data_name = 'test3'
with open(''+str(data_name)+'.dat', 'w') as f:
    f.write('param:' + '\t')
    for c in df_windsolar_cap.columns:
        if c != 'name':
            f.write(c + '\t')
    f.write(':=\n\n')
    for i in range(0,len(df_windsolar_cap)):    
        for c in df_windsolar_cap.columns: 
            print('i:')
            print(i)
            print('c:')
            print(c)
            print(df_windsolar_cap.loc[1,'maxcap_ws'])

            # f.write(str(i+1) + '\t' + str(df_windsolar_cap.iloc[i,c]) + '\t')            
        f.write('\n')
    f.write(';\n\n')

In [2]:
import pandas as pd
df_veh_cap=pd.read_csv('../data/vehicle/VehiclesCap.csv',header=0)
df_veh_cap

     regup_capacity_veh,regdown_capacity_veh, gen_capacity_veh
0                                         0,1400,460600
1                                         0,1400,460600
2                                         0,1400,460600
3                                         0,1400,460600
4                                         0,1400,460600
5                                         0,1400,460600
6                                         0,1400,460600
7                                         0,1400,460600
8                                         0,1400,460600
9                                         0,1400,460600
10                                        0,1400,460600
11                                        0,1400,460600
12                                        0,1400,460600
13                                        0,1400,460600
14                                        0,1400,460600
15                                        0,1400,460600
16                                        0,1400,460600
17                                        0,1400,460600
18                                        0,1400,460600
19                                        0,1400,460600
20                                        0,4200,457800
21                                        0,4200,457800
22                                        0,4200,457800
23                                        0,4200,457800
24                                        0,4200,457800
25                                        0,4200,457800
26                                        0,4200,457800
27                                        0,4200,457800
28                                        0,4200,457800
29                                        0,4200,457800
...                                                 ...
1401                                     0,406400,55600
1402                                     0,406400,55600
1403                                     0,406400,55600
1404                                     0,406400,55600
1405                                     0,406400,55600
1406                                     0,406400,55600
1407                                     0,406400,55600
1408                                     0,406400,55600
1409                                     0,406400,55600
1410                                     0,398400,63600
1411                                     0,398400,63600
1412                                     0,398400,63600
1413                                     0,398400,63600
1414                                     0,398400,63600
1415                                     0,398400,63600
1416                                     0,398400,63600
1417                                     0,398400,63600
1418                                     0,398400,63600
1419                                     0,398400,63600
1420                                     0,381400,80600
1421                                     0,381400,80600
1422                                     0,381400,80600
1423                                     0,381400,80600
1424                                     0,381400,80600
1425                                     0,381400,80600
1426                                     0,381400,80600
1427                                     0,381400,80600
1428                                     0,381400,80600
1429                                     0,381400,80600
1430                             33000,424270.9151,4200

[1431 rows x 1 columns]

In [16]:
df_windsolar_cap

         maxcap_ws
name
solar     -8.78827
solar     -9.56754
solar     -9.91254
solar    -11.20422
solar    -12.44690
solar     -4.41375
solar     11.06523
solar   1874.37852
solar   7408.84553
solar  10802.54377
solar  11453.97174
solar  11361.78920
solar  11321.33566
solar  11395.51945
solar  10416.26878
solar   6424.38968
solar   1112.12462
solar    -10.04748
solar    -10.16596
solar    -10.16587
solar     -9.91654
solar     -9.88158
solar    -10.83546
solar    -17.04244
solar    -17.88294
solar    -18.01075
solar    -18.22207
solar    -19.28296
solar    -21.43566
solar    -15.43444
...            ...
solar    -11.52117
solar    -11.75346
solar     -7.97511
solar     -8.34024
solar    -17.09437
solar    -17.35703
solar    -17.09777
solar    -18.90957
solar    -19.12458
solar    -23.75189
solar    -23.58401
solar    -59.30077
solar    -16.52783
solar   1498.49708
solar   6709.11008
solar  10008.60763
solar  10722.80561
solar  10620.00622
solar  11070.07005
solar  11433.66995
solar  10382.54651
solar   6174.25091
solar    932.65147
solar     -8.62056
solar     -7.18785
solar     -7.30025
solar     -7.11567
solar     -8.80856
solar    -16.59295
solar    -20.73371

[8760 rows x 1 columns]